In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('heart_pandas.csv')

In [3]:
data

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,male,non-anginal pain,145,233,greater than 120mg/ml,normal,150,no,2.3,upsloping,0,normal,1
1,37,male,atypical angina,130,250,lower than 120mg/ml,ST-T wave abnormality,187,no,3.5,upsloping,0,fixed defect,1
2,41,female,typical angina,130,204,lower than 120mg/ml,normal,172,no,1.4,flat,0,fixed defect,1
3,56,male,typical angina,120,236,lower than 120mg/ml,ST-T wave abnormality,178,no,0.8,flat,0,fixed defect,1
4,57,female,typical angina,120,354,lower than 120mg/ml,ST-T wave abnormality,163,yes,0.6,flat,0,fixed defect,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,female,typical angina,140,241,lower than 120mg/ml,ST-T wave abnormality,123,yes,0.2,upsloping,0,reversable defect,0
299,45,male,non-anginal pain,110,264,lower than 120mg/ml,ST-T wave abnormality,132,no,1.2,upsloping,0,reversable defect,0
300,68,male,typical angina,144,193,greater than 120mg/ml,ST-T wave abnormality,141,no,3.4,upsloping,2,reversable defect,0
301,57,male,typical angina,130,131,lower than 120mg/ml,ST-T wave abnormality,115,yes,1.2,upsloping,1,reversable defect,0
302,57,female,typical angina,130,236,lower than 120mg/ml,normal,174,no,0.0,upsloping,1,fixed defect,0

In [4]:
data.dtypes

age                          int64
sex                         object
chest_pain_type             object
resting_blood_pressure       int64
cholesterol                  int64
fasting_blood_sugar         object
rest_ecg                    object
max_heart_rate_achieved      int64
exercise_induced_angina     object
st_depression              float64
st_slope                    object
num_major_vessels            int64
thalassemia                 object
target                       int64
dtype: object

In [5]:
data.describe()

,age,resting_blood_pressure,cholesterol,max_heart_rate_achieved,st_depression,num_major_vessels,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,131.623762,246.264026,149.646865,1.039604,0.729373,0.544554
std,9.082101,17.538143,51.830751,22.905161,1.161075,1.022606,0.498835
min,29.000000,94.000000,126.000000,71.000000,0.000000,0.000000,0.000000
25%,47.500000,120.000000,211.000000,133.500000,0.000000,0.000000,0.000000
50%,55.000000,130.000000,240.000000,153.000000,0.800000,0.000000,1.000000
75%,61.000000,140.000000,274.500000,166.000000,1.600000,1.000000,1.000000
max,77.000000,200.000000,564.000000,202.000000,6.200000,4.000000,1.000000

In [6]:
# 1. Сколько мужчин в датасете? Сколько женщен? (sex)

data['sex'].value_counts()

male      207
female     96
Name: sex, dtype: int64

Ответ: 207 мужчин, 96 женщин

In [7]:
# 2. Какой процент мужчин в датасете? (решите в одну строчку, не используя предыдущий результат. Не забудте знак процента)

data['sex'].value_counts(normalize=True)*100

male      68.316832
female    31.683168
Name: sex, dtype: float64

Ответ: 68.3%

In [8]:
# 3. Сколько мужчин имеют заболевание сердца? Сколько женщин имеют заболевание сердца?

data.groupby(['sex', 'target'])['target'].count()

sex     target
female  0          24
        1          72
male    0         114
        1          93
Name: target, dtype: int64

Ответ: 93 мужчины, 72 женщины

In [9]:
# Таблица с данными пациентов мужского пола без заболевания сердца.

filterinData = data[(data['target']==0) & (data['sex']=='male')]
filterinData

,age,sex,chest_pain_type,resting_blood_pressure,cholesterol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
165,67,male,typical angina,160,286,lower than 120mg/ml,normal,108,yes,1.5,upsloping,3,fixed defect,0
166,67,male,typical angina,120,229,lower than 120mg/ml,normal,129,yes,2.6,upsloping,2,reversable defect,0
168,63,male,typical angina,130,254,lower than 120mg/ml,normal,147,no,1.4,upsloping,1,reversable defect,0
169,53,male,typical angina,140,203,greater than 120mg/ml,normal,155,yes,3.1,upsloping,0,reversable defect,0
170,56,male,atypical angina,130,256,greater than 120mg/ml,normal,142,yes,0.6,upsloping,1,normal,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,63,male,typical angina,140,187,lower than 120mg/ml,normal,144,yes,4.0,flat,2,reversable defect,0
297,59,male,typical angina,164,176,greater than 120mg/ml,normal,90,no,1.0,upsloping,2,normal,0
299,45,male,non-anginal pain,110,264,lower than 120mg/ml,ST-T wave abnormality,132,no,1.2,upsloping,0,reversable defect,0
300,68,male,typical angina,144,193,greater than 120mg/ml,ST-T wave abnormality,141,no,3.4,upsloping,2,reversable defect,0
301,57,male,typical angina,130,131,lower than 120mg/ml,ST-T wave abnormality,115,yes,1.2,upsloping,1,reversable defect,0

In [10]:
# 4. Какую долю, от общего числа пациентов, занимают мужчины, не имеющие болезнь сердца?

data[(data['target']==0) & (data['sex']=='male')].sex.count()/303*100

37.62376237623762

Ответ: 37.6%

In [11]:
# 5. Сколько лет самому молодому пациенту, страдающему болезнью сердца?
# 6. Сколько лет самому возрастному пациенту, у которого нет проблем с сердцем?
# 7. Сколько лет самой молодой женщине, которая страдает болезнью сердца?

data.groupby(['sex', 'target'])['age'].describe()

               count       mean        std   min    25%   50%    75%   max
sex    target
female 0        24.0  59.041667   4.964913  43.0  56.75  60.5  62.00  66.0
       1        72.0  54.555556  10.265337  34.0  46.00  54.0  63.25  76.0
male   0       114.0  56.087719   8.385155  35.0  51.00  57.5  61.00  77.0
       1        93.0  50.903226   8.682897  29.0  44.00  52.0  57.00  70.0

Ответ: 5. 29 лет и пациент - мужчина; 6. 77 лет и пациент - мужчина; 7. 34 года

In [12]:
# 8. Какой средний возраст женщин?

group=data.groupby("sex")

In [13]:
group['age'].describe()

        count       mean       std   min    25%   50%   75%   max
sex
female   96.0  55.677083  9.409396  34.0  49.75  57.0  63.0  76.0
male    207.0  53.758454  8.883803  29.0  47.00  54.0  59.5  77.0

In [14]:
data[data.sex=='female'].age.describe()

count    96.000000
mean     55.677083
std       9.409396
min      34.000000
25%      49.750000
50%      57.000000
75%      63.000000
max      76.000000
Name: age, dtype: float64

Ответ: 55 полных лет

In [15]:
# 9. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто страдают болезнью сердца?

data.groupby(['sex', 'target'])['age'].agg(['mean', 'std'])

                    mean        std
sex    target
female 0       59.041667   4.964913
       1       54.555556  10.265337
male   0       56.087719   8.385155
       1       50.903226   8.682897

Ответ: женщины - 54.6/10.3, мужчины - 50.9/8.7

In [16]:
# 10. Правда ли, что люди не болеющие болезнью сердца имеют уровень холестерина меньше среднего?

data.cholesterol.mean()

246.26402640264027

In [17]:
data.groupby(['target'])['cholesterol'].describe()

        count        mean        std    min     25%    50%    75%    max
target
0       138.0  251.086957  49.454614  131.0  217.25  249.0  283.0  409.0
1       165.0  242.230303  53.552872  126.0  208.00  234.0  267.0  564.0

In [18]:
data.groupby(['sex', 'target'])['cholesterol'].describe()

               count        mean        std    min     25%    50%    75%  \
sex    target
female 0        24.0  274.958333  60.863696  164.0  234.00  265.5  310.0
       1        72.0  256.750000  66.216195  141.0  210.75  249.0  289.5
male   0       114.0  246.061404  45.439113  131.0  212.00  247.5  282.0
       1        93.0  230.989247  37.893011  126.0  205.00  228.0  250.0

                 max
sex    target
female 0       409.0
       1       564.0
male   0       353.0
       1       325.0

Ответ: первое утверждение неверно. Если посмотреть отдельно на мужчин и женщин, то у мужчин без заболевания сердца уровень холестерина меньше среднего

In [19]:
# 11. Выведите статистику rest_ecg для всех числовых признаков, их максимальное и среднее значение (используйте groupby(),
# решите в одну строчку

# 1-й вариант

data.groupby(['rest_ecg'])[['age', 'resting_blood_pressure', 'cholesterol', 'max_heart_rate_achieved']].agg(['mean', 'max']).T

rest_ecg                      ST-T wave abnormality  \
age                     mean              52.914474
                        max               71.000000
resting_blood_pressure  mean             129.065789
                        max              180.000000
cholesterol             mean             237.269737
                        max              354.000000
max_heart_rate_achieved mean             151.960526
                        max              194.000000

rest_ecg                      left ventricular hypertrophy      normal
age                     mean                         61.00   55.687075
                        max                          76.00   77.000000
resting_blood_pressure  mean                        140.50  134.027211
                        max                         180.00  200.000000
cholesterol             mean                        261.75  255.142857
                        max                         327.00  564.000000
max_heart_rate_achieved mean                        125.75  147.904762
                        max                         140.00  202.000000

In [20]:
# 2-й вариант

data.pivot_table(values=['age', 'resting_blood_pressure', 'cholesterol', 'max_heart_rate_achieved'], index=['rest_ecg'], aggfunc=['mean', 'max']).T

rest_ecg                      ST-T wave abnormality  \
mean age                                  52.914474
     cholesterol                         237.269737
     max_heart_rate_achieved             151.960526
     resting_blood_pressure              129.065789
max  age                                  71.000000
     cholesterol                         354.000000
     max_heart_rate_achieved             194.000000
     resting_blood_pressure              180.000000

rest_ecg                      left ventricular hypertrophy      normal
mean age                                             61.00   55.687075
     cholesterol                                    261.75  255.142857
     max_heart_rate_achieved                        125.75  147.904762
     resting_blood_pressure                         140.50  134.027211
max  age                                             76.00   77.000000
     cholesterol                                    327.00  564.000000
     max_heart_rate_achieved                        140.00  202.000000
     resting_blood_pressure                         180.00  200.000000

In [21]:
# 12. Посчитайте, у кого уровень депрессии при физический нагрузке выше (в среднем), среди мужчин, страдающих болезнью сердца, 
# или среди женщин, не страдающих болезнью сердца (st_depression)

data.groupby(['sex', 'target'])['st_depression'].mean()

sex     target
female  0         1.841667
        1         0.554167
male    0         1.531579
        1         0.605376
Name: st_depression, dtype: float64

Ответ: уровень депрессии при физической нагрузке выше у женщин, не страдающих болезнью сердца

In [22]:
# 13. Посчитайте максимальный и минимальный уровень холестерина для каждого типа chest_pain_type, rest_ecg, thalassemia. 
# Пишите код оптимально, можно использовать циклы

data.groupby(['chest_pain_type', 'rest_ecg', 'thalassemia'])['cholesterol'].agg(['max', 'min'])

                                                                 max  min
chest_pain_type  rest_ecg                     thalassemia
atypical angina  ST-T wave abnormality        fixed defect       340  141
                                              normal             218  218
                                              reversable defect  313  126
                 left ventricular hypertrophy fixed defect       197  197
                 normal                       fixed defect       417  149
                                              normal             256  216
                                              reversable defect  564  212
non-anginal pain ST-T wave abnormality        fixed defect       240  204
                                              reversable defect  298  199
                 normal                       fixed defect       283  182
                                              normal             233  186
                                              reversable defect  288  193
typical angina   ST-T wave abnormality        fixed defect       354  149
                                              normal             315  169
                                              reversable defect  353  131
                 left ventricular hypertrophy fixed defect       327  327
                                              normal             318  318
                                              reversable defect  205  205
                 normal                       fixed defect       394  166
                                              normal             276  176
                                              reversable defect  409  164

In [23]:
# 14. Сколько значений может принимать каждый из категориальных признаков?

data[['sex', 'chest_pain_type', 'fasting_blood_sugar', 'rest_ecg', 'exercise_induced_angina', 'st_slope', 'thalassemia']].nunique()

sex                        2
chest_pain_type            3
fasting_blood_sugar        2
rest_ecg                   3
exercise_induced_angina    2
st_slope                   2
thalassemia                3
dtype: int64

Ответ: sex - 2; chest_pain_type - 3; fasting_blood_sugar - 2; rest_ecg - 3; exercise_induced_angina - 2; st_slope - 2; thalassemia - 3

In [24]:
# Таблица с категориальными признаками

Filtre = data[['sex', 'chest_pain_type', 'fasting_blood_sugar', 'rest_ecg', 'exercise_induced_angina', 'st_slope', 'thalassemia']]
Filtre

,sex,chest_pain_type,fasting_blood_sugar,rest_ecg,exercise_induced_angina,st_slope,thalassemia
0,male,non-anginal pain,greater than 120mg/ml,normal,no,upsloping,normal
1,male,atypical angina,lower than 120mg/ml,ST-T wave abnormality,no,upsloping,fixed defect
2,female,typical angina,lower than 120mg/ml,normal,no,flat,fixed defect
3,male,typical angina,lower than 120mg/ml,ST-T wave abnormality,no,flat,fixed defect
4,female,typical angina,lower than 120mg/ml,ST-T wave abnormality,yes,flat,fixed defect
...,...,...,...,...,...,...,...
298,female,typical angina,lower than 120mg/ml,ST-T wave abnormality,yes,upsloping,reversable defect
299,male,non-anginal pain,lower than 120mg/ml,ST-T wave abnormality,no,upsloping,reversable defect
300,male,typical angina,greater than 120mg/ml,ST-T wave abnormality,no,upsloping,reversable defect
301,male,typical angina,lower than 120mg/ml,ST-T wave abnormality,yes,upsloping,reversable defect
302,female,typical angina,lower than 120mg/ml,normal,no,upsloping,fixed defect

In [25]:
# 15. У какого категориального признака наблюдается самый сильный диcбаланс классов?

Obj = data[['sex', 'chest_pain_type', 'fasting_blood_sugar', 'rest_ecg', 'exercise_induced_angina', 'st_slope', 'thalassemia']].describe().T
Obj

                        count unique                    top freq
sex                       303      2                   male  207
chest_pain_type           303      3         typical angina  193
fasting_blood_sugar       303      2    lower than 120mg/ml  258
rest_ecg                  303      3  ST-T wave abnormality  152
exercise_induced_angina   303      2                     no  204
st_slope                  303      2              upsloping  161
thalassemia               303      3           fixed defect  166

In [26]:
df=pd.DataFrame(Obj,columns=["count", "freq", "ratio"])
df

                        count freq  ratio
sex                       303  207    NaN
chest_pain_type           303  193    NaN
fasting_blood_sugar       303  258    NaN
rest_ecg                  303  152    NaN
exercise_induced_angina   303  204    NaN
st_slope                  303  161    NaN
thalassemia               303  166    NaN

In [27]:
df=pd.DataFrame(Obj,columns=["count", "freq", "ratio"])
values=df['freq']/df['count']*100
df["ratio"]=values
df

                        count freq      ratio
sex                       303  207  68.316832
chest_pain_type           303  193   63.69637
fasting_blood_sugar       303  258  85.148515
rest_ecg                  303  152  50.165017
exercise_induced_angina   303  204  67.326733
st_slope                  303  161  53.135314
thalassemia               303  166  54.785479

In [28]:
df['ratio'].sort_values(ascending=False)

fasting_blood_sugar        85.148515
sex                        68.316832
exercise_induced_angina    67.326733
chest_pain_type             63.69637
thalassemia                54.785479
st_slope                   53.135314
rest_ecg                   50.165017
Name: ratio, dtype: object

Ответ: у категориального признака fasting_blood_sugar наблюдается самый сильный дисбаланс классов

In [29]:
data.sex.value_counts(normalize=True)*100

male      68.316832
female    31.683168
Name: sex, dtype: float64

In [30]:
data.chest_pain_type.value_counts(normalize=True)*100

typical angina      63.696370
atypical angina     28.712871
non-anginal pain     7.590759
Name: chest_pain_type, dtype: float64

In [31]:
data.fasting_blood_sugar.value_counts(normalize=True)*100

lower than 120mg/ml      85.148515
greater than 120mg/ml    14.851485
Name: fasting_blood_sugar, dtype: float64

In [32]:
data.rest_ecg.value_counts(normalize=True)*100

ST-T wave abnormality           50.165017
normal                          48.514851
left ventricular hypertrophy     1.320132
Name: rest_ecg, dtype: float64

In [33]:
data.exercise_induced_angina.value_counts(normalize=True)*100

no     67.326733
yes    32.673267
Name: exercise_induced_angina, dtype: float64

In [34]:
data.st_slope.value_counts(normalize=True)*100

upsloping    53.135314
flat         46.864686
Name: st_slope, dtype: float64